:root {
  overflow-x: hidden;
  font-family: Calibri, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#main-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #212121;


}

#canvas-div {

  display: flex;
  justify-content: center;

}

#main-game {
  color: antiquewhite;
}

#form-div {
  width: -webkit-fill-available;
}

#form-div li {
  list-style: none;

}

/* For Desktops */
@media (min-width: 48rem) {
  #canvas-div {
    justify-content: flex-start;
  }

  #main-game {
    flex-direction: row;

  }

}

/* For Tabs and Desktop */
@media (min-width: 30rem) {}

/* For Tabs and Mobile  */
@media (max-width: 48rem) {}

/* For Mobile */
@media (max-width: 30rem) {}