#form-div {

    background-color: #892be249;
    color: antiquewhite;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;

}

#form-div ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
}

#canvas-div {
    padding: 5rem 0px;
    /* margin: auto; */
    text-align: -webkit-center;
}






#form-div li {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    width: clamp(30vw, 10rem + 20vw, 40vw);
    font-size: clamp(1vw + 0.2rem, 0.5rem + 3vw, 3vw + 1rem);
}